:root {
  font-family: "Montserrat", sans-serif;

  color: #333;
  background-color: seashell;

  font-synthesis: none; /* Prevents browser from faking bold/italic, preserves typographic integrity */
  text-rendering: optimizeLegibility; /* Requests higher-quality text shaping/kerning */
}
